# System and IDE files
.DS_Store
.vscode/
**/*.log.*
**/*.log
**/celery_task

# Node.js
node_modules/
build/

# Python
venv/
**/__pycache__/
**/*.pyc

# Environment and credentials
.env
serviceAccountKey.json
